.statistics{
    width: 350px;
    margin: 20px auto 0;
    background-color: #F5F5F5;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
    overflow: hidden;
}
.title{
   margin: 0;
   padding-top: 20px;
   padding-bottom: 20px;
   text-align: center;
   color:#909090;
   font-size: 25px;
   font-weight: 600;
}
.statList{
    display: flex;
}

.item{
    width: calc(100% / 4);
    display: flex;
    gap: 8px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 13px 0;
}
.label{
    font-size: 15px;
    color: #000000;
}
.percentage{
    font-size: 20px;
    color: #000000;
}